.rendezvous-shown, .mission-shown, .liftoff-shown, .transit-shown, .link-shown, .threat-shown {
  display: none;
}

.click-rendez, .click-mission, .click-liftoff, .click-transit, .click-link, .click-threat {
  cursor: pointer;
  color: #0088cc;
}

.click-rendez:hover, .click-mission:hover, .click-liftoff:hover, .click-transit:hover, .click-link:hover, .click-threat:hover {
  text-decoration: underline;
}

.dark-background {
  background-color: #4D4D4D;
  color: #F2F2F2;
}

.light-background {
  background-color: #F2F2F2;
  color: #4D4D4D;
}

.highlight_paragraph {
  background-color: #D174FF;
  border: 1px solid #666699;
}
